@using PruebaTecnicaSICSA.Models;


@if (!String.IsNullOrEmpty(ViewBag.Message as string) && !String.IsNullOrEmpty(ViewBag.TypeMessage as string))
{
    <br />
    <div class="@ViewBag.TypeMessage" role="alert">
        <strong>@ViewBag.Message</strong>
        <button type="button" class="alert-dismissable fade show close" data-dismiss="alert">&times;</button>
    </div>
    <div style="display:none" role="alert">

    </div>
}
<br />

@Html.ActionLink("Nueva Categoria", "getCreate", "Categories", htmlAttributes: new { Class = "btn btn-info class='glyphicon-plus'></span>", Style = "padding" })

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Categories as List<category>)
                    {
                        <tr>
                            <td style="display:none">
                                @item.CategoryId
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>

                            <td>
                                @Html.ActionLink("Editar", "GetEdit", routeValues: new { id = @item.CategoryId }, htmlAttributes: new { Class = "btn btn-primary" })
                                @*@Html.ActionLink(" Eliminar", "Delete", routeValues: new {id=@item.CategoryId }, htmlAttributes: new {id="delete", Class = "btn btn-danger glyphicon glyphicon-trash" })*@
                                <button type="button" id="delete" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>
<script type="text/javascript">


    $(document).ready(function () {
        $('.btn-danger').click(function (event) {

          let id = $(this).closest("tr").find("td").eq(0).html();

          let flag = confirm("¿Desea eliminar el registro?")
          if (flag) {

          location.href= "@Url.Action("Delete")"+"?id="+id
          }





        });
    });
</script>
